{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": 0,
    "func-names": 0,
    "no-alert": 0,
    "no-console": 0,
    "no-else-return": 0
  },
  "plugins": ["react"]
}
